.gallery {
  min-width: 320px;
  padding: 20px;

  .gallery__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #2c343e;
    margin: 20px 0;
  }

  .gallery__content {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 136px);
    grid-template-rows: 136px;
    gap: 8px;
    place-content: center;

    .content__image {
      position: relative;
      grid-row: span 1;
      grid-column: span 1;
      min-height: 136px;
      min-width: 136px;

      .image__title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 39px;
        font-family: 'Rubik';
        font-size: 15px;
        font-weight: 500;
        background: rgba(255, 255, 255, 0.9);
        line-height: 23px;
      }

      &--landscape {
        grid-column: span 2;
        min-width: 280px;
      }

      &--portrait {
        grid-row: span 2;
        min-height: 280px;
      }
    }
  }

  .gallery__btn-panel {
    margin-top: 18px;

    .btn-panel__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      background-color: #fff;
      line-height: 17px;
      border: 1px solid #e4e7eb;
      cursor: pointer;
      font-size: 12px;
      font-family: 'Rubik';
      color: #e54137;
      font-weight: 500;

      .btn-icon {
        margin-right: 13.5px;
        fill: #e54137;

        rect {
          width: 14px;
          height: 2px;
        }
      }

      &:hover {
        color: #ebeced;
        .btn-icon {
          fill: #ebeced;
        }
      }
    }
  }
}

@media (min-width: 1199.98px) {
  .gallery {
    max-width: 1170px;
    margin: 0 auto;

    .gallery__title {
      display: none;
    }

    .gallery__content {
      grid-template-columns: repeat(3, 270px);
      grid-template-rows: 270px;
      gap: 30px;

      .content__image {
        min-height: 270px;
        min-width: 270px;

        .image__title {
          line-height: 23px;
          font-size: 18px;
          font-weight: 500;
          line-height: 25px;
        }

        &--landscape {
          grid-column: span 2;
          min-width: 570px;
        }

        &--portrait {
          grid-row: span 2;
          min-height: 570px;
        }
      }
    }

    .gallery__btn-panel {
      margin-top: 40px;

      .btn-panel__btn {
        height: 64px;
        line-height: 21px;
        font-size: 15px;

        .btn-icon {
          margin-right: 14px;
        }
      }
    }
  }
}

// .gallery .gallery__btn-panel .btn-panel__btn:hover {
//   color: red;
// }

// .gallery {
//   .gallery__btn-panel {

//     .btn-panel__btn {
//       color: green;
//     }

//     &:hover .btn-panel__btn {
//       color: blue;
//     }

//     &:active .btn-panel__btn {
//       color: cyan;
//     }
//   }
// }

// // .gallery .gallery__btn-panel:hover .btn-panel__btn {
// //   color: blue;
// // }
